/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px; /* Set a fixed width for better centering and responsiveness */
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  .input-container .icon {
    margin-right: 10px;
    font-size: 1.2rem; /* Adjust icon size */
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: calc(100% - 30px); /* Adjust input width considering the icon's margin */
    padding: 10px;
    margin: 0;
    font-size: 16px;
    border: none;
    outline: none;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff; /* Adjust button colors as needed */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .login-form button:hover {
    background-color: #0056b3; /* Adjust hover color */
  }
  