body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  .register-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .input-icon {
    position: absolute;
    top: 50%;
    left: 0.7rem;
    transform: translateY(-50%);
    color: black;
    font-size: 1.25rem;
  }
  
  .register-input {
    width: 100%;
    padding: 1rem 2rem 1rem 3rem;
    border:none;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .register-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .register-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
    background-color: #0056b3;
  }
  